<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Promoção</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid p-3">

      <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
      <%end%>
      <% if alert %>
        <div class="alert alert-warning" role="alert"><%= alert %></div>
      <%end%>
      <% if flash[:success] %>
        <div class="alert alert-success" role="alert"><%= success %></div>
      <% end %>
      
      <% if user_signed_in? %>
        <p><%= current_user.email %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %></p> 
        <% else %>
        <p><%= link_to 'Login', new_user_session_path %></p>
        <% end %>
    <%= yield %>
    </div>
  </body>
</html>
